.TruAi {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
  }
  
  .TruAibox {
    margin: 6rem 0;
    position: relative;
    background-color: #272e5c;
    width: 100%;
    height: 550px;
    z-index: 10;
    -webkit-clip-path: polygon(0 22.5%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 22.5%, 100% 0, 100% 100%, 0 100%);
  }

  .biometrics:hover {
    margin-left: 10px;
  }
  
  .background-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover; 
    z-index: -1;
}

@keyframes color-change {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.animate-color-change {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, skyblue, red);
  animation: color-change 3s linear infinite;
}

.animate-color-change {
  background-image: linear-gradient(to right, skyblue, red);
  background-size: 200% auto;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: slide 3s linear infinite;
}

@keyframes slide {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.hover\:gradient:hover {
  background: linear-gradient(to bottom, #48BB78, #ffffff);
    transition: background 0.5s ease;
  border: 1px solid #48BB78;
}
.hover\:gradientb:hover {
  background: linear-gradient(to bottom, #BFDBFE, #ffffff);
    transition: background 0.5s ease;
  border: 1px solid #BFDBFE;
}
.hover\:gradientr:hover {
  background: linear-gradient(to bottom,  rgba(255, 0, 0, 0.5) 0%, white 100%);
    transition: background 0.5s ease;
  border: 1px solid red;
}
.hover\:gradienty:hover {
  background: linear-gradient(to bottom, #FFED4A, #ffffff);
    transition: background 0.5s ease;
  border: 1px solid yellow;
}

@keyframes slideIn {
  from {
      transform: translateY(-100%);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

.image-container {
  overflow: hidden;
  height: 50%; 

}

.image {
  width: 100%;
  opacity: 0;
  animation: fadeInOut 2s infinite;
}

@keyframes fadeInOut {
  0%, 100% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
}


@keyframes scroll {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}

.images{
  width: fit-content;
    white-space: nowrap;
    animation: scroll 10s linear infinite;
}


